
/*  */

#untreated_tbody td select{
    padding: 10px 5px;
}

#untreated_tbody td
{
    width: 11.11%;
}

#untreated_tbody td img,
#processed_tbody td img{
    width: 100%;
}

#processed_tbody td{
    width: 10%;
}